.btn {
  display: inline-flex;
  padding: 24px 42px;
  justify-content: center;
  word-break: break-word;
  outline-offset: 3px;

  color: $color-default-white;

  background-color: transparent;
  border: none;
  cursor: pointer;
  user-select: none;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  @include focus {
    outline: 2px solid;
  }

  &--slider {
    padding: 0;
    color: $color-dark-grey;

    @include hover-focus {
      outline-offset: 2px;
      outline-color: $color-sapphire;
    }
  }
}
