.cards {
  @include vp-1199 {
    min-height: 423px;
  }

  h4 {
    margin: 0;
    margin-bottom: 46px;
    grid-column: 1/-1;
    font-family: $ff-alumni;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;

    @include vp-1199 {
      text-align: center;
      margin-right: 5px;
      margin-bottom: 32px;
      font-size: 42px;
      line-height: 50px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 40px;
    }
  }
}

.cards__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 91px;

  @include vp-1199 {
    max-width: 656px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    max-width: 319px;
    padding: 0 46px 70px;
  }
}

.cards__container {
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include vp-1199 {
      width: 268px;
      max-height: 294px;
    }

    @include vp-767 {
      min-height: 274px;
    }
  }
}

.cards__description-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 50px 40px 22px;
  background-color: none;

  @include vp-767 {
    padding: 41px 20px 48px;
  }

  h5 {
    margin: auto auto 0;
    color: $color-default-white;
    font-size: 18px;

    @include vp-1199 {
      padding-left: 6px;
    }
  }

  &:hover,
  &:focus-within {
    background-color: $color-sapphire;
    opacity: 0.89;

    .cards__description-inner {
      transform: scale(1);
      transition: $trans-default;
      height: 100%;
    }

    h5 {
      margin: 4px 0 -4px 17px;

      @include vp-1199 {
        margin-top: 3px;
        padding-left: 0;
      }

      @include vp-767 {
        margin-bottom: -5px;
        margin-top: 2px;
        padding-left: 3px;
      }
    }
  }
}

.cards__description-inner {
  height: 0;
  transform: scale(0);

  p {
    margin: 0;
    text-align: center;
    color: $color-spindle;

    @include vp-1199 {
      margin-left: -5px;
    }
  }

  ul {
    margin: 0;
    padding: 32px 0 0 30px;
    list-style: none;
    color: $color-default-white;

    li {
      position: relative;
      margin: 0 auto;
      margin-bottom: 13px;
      font-size: 14px;

      &::before {
        position: absolute;
        content: "";
        top: 8px;
        left: -15px;
        width: 6px;
        height: 6px;
        background-color: $color-default-white;
        border-radius: 50%;
      }
    }

    li:last-child {
      margin-bottom: 0;
    }
  }
}

//slider

.cards__slider {
  margin: 0;
}

.cards__button-next,
.cards__button-prev {
  --swiper-navigation-size: 32px;

  @include vp-767 {
    --swiper-navigation-size: 20px;
  }
}

.cards__button-next {
  top: 52%;
  right: 46px;

  @include vp-1199 {
    top: 48%;
    right: -14px;
  }

  @include vp-767 {
    top: 51%;
    right: 13px;
  }
}

.cards__button-prev {
  top: 52%;
  left: 46px;

  @include vp-1199 {
    top: 48%;
    left: -14px;
  }

  @include vp-767 {
    top: 51%;
    left: 13px;
  }
}
