.footer {
  min-height: 108px;
  background-color: $color-black-russian;
}

.footer__wrapper {
  display: flex;
  max-width: 1250px;
  align-items: center;
  justify-content: space-between;
  gap: 10px 100px;
  padding: 29px 45px;

  @include vp-1199 {
    padding: 40px 35px;
    max-width: 100%;
    gap: 10px 50px;
  }

  @include vp-767 {
    position: relative;
    padding: 45px 15px 52px;
    flex-wrap: wrap;
    justify-content: start;
    gap: 0;
  }
}

.footer__logo {
  margin-top: 12px;

  @include vp-1199 {
    margin-top: 8px;
    margin-left: 10px;
  }

  @include vp-767 {
    position: absolute;
    top: 46px;
    left: 14px;
    margin: 0;
  }
}

.footer__links {
  @include vp-767 {
    width: 100%;
  }
}

.footer__links-list {
  list-style: none;
  margin: 0 0 0 5px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 40px;

  @include vp-1199 {
    margin: 0 0 0 5px;
    gap: 10px 30px;
  }

  @include vp-767 {
    display: block;
    column-count: 2;
    margin: 0;
  }

  li {
    @include vp-767 {
      margin-top: 16px;

      &:first-of-type {
        margin-top: 41px;
      }
    }
  }

  a {
    color: $color-default-white;
    font-size: 14px;
    line-height: 16px;

    @include vp-767 {
      font-size: 16px;
      line-height: 19px;
    }
  }
}

.footer__icons {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 11px;

  @include vp-767 {
    margin-top: 26px;
  }

  p {
    margin: 0;
  }
}
