.form {
  min-height: 337px;
  background-color: $color-sapphire;
  color: $color-default-white;
  padding: 56px 170px 45px 103px;

  @include vp-1199 {
    min-height: 324px;
    padding: 62px 162px 45px 133px;
  }

  @include vp-767 {
    padding: 64px 15px 67px;
    min-height: 386px;
  }

  h4 {
    font-family: $ff-alumni;
    margin: 0 0 17px;
    font-size: 54px;
    font-weight: 800;
    letter-spacing: 0.03em;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 28px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
      letter-spacing: 0.02em;
      margin-bottom: 32px;
    }
  }
}

.form__content {
  max-width: 410px;
  margin-left: auto;

  @include vp-1199 {
    max-width: 100%;
    margin: 0;
  }
}

.form__fields {
  display: flex;
  gap: 0 28px;
  margin-bottom: 25px;

  @include vp-1199 {
    gap: 0 60px;
    margin-bottom: 27px;
  }

  @include vp-767 {
    flex-wrap: wrap;
    gap: 29px 0;
    margin-bottom: 38px;
  }

  label {
    width: 100%;
  }

  input {
    width: 100%;
    background-color: $color-transparent;
    border: none;
    padding: 8px 0;
    color: inherit;
    font-size: 14px;
    line-height: 16px;
    outline-color: $color-default-white;
    border-bottom: 1px solid $color-slate-grey;
    outline-offset: 3px;

    @include focus {
      outline: 2px solid;
    }

    @include hover-focus {
      opacity: 0.8;
    }

    @include vp-767 {
      padding: 7px 0;
    }
  }

  input::placeholder {
    color: $color-default-white;
  }
}

.form__button {
  border: 3px solid $color-default-white;
  padding: 17px;
  letter-spacing: 0.05em;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}
