.general {
  min-height: 657px;
  background: $general-gradient;
  margin-bottom: 120px;

  @include vp-1199 {
    min-height: 554px;
    background: $general-gradient-tablet;
    margin-bottom: 100px;
  }

  @include vp-767 {
    min-height: 491px;
    background: $general-gradient-mobile;
    margin-bottom: 64px;
  }
}
