.gym {
  min-height: 636px;

  @include vp-1199 {
    min-height: 754px;
  }

  @include vp-767 {
    min-height: 860px;
  }
}

.gym__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 355px 1fr;
  column-gap: 85px;
  padding-left: 104px;
  padding-right: 44px;
  padding-bottom: 50px;
  max-width: 1250px;

  @include vp-1199 {
    grid-template-columns: 1fr;
    padding-bottom: 50px;
  }

  @include vp-767 {
    padding: 0;
    padding-bottom: 20px;
  }
}

.gym__content {
  margin-top: 38px;

  @include vp-1199 {
    margin-top: 0;
  }

  @include vp-767 {
    padding: 0 15px;
  }

  h2 {
    margin: 0;
    margin-bottom: 8px;
    letter-spacing: 0.03em;
    font-family: $ff-alumni;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50px;
      text-align: center;
      margin-right: 15px;
      margin-bottom: 0;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
      text-align: start;
      margin-bottom: 5px;
    }
  }

  p {
    margin: 0;
    font-size: 18px;

    @include vp-1199 {
      text-align: center;
      padding: 0 50px;
    }

    @include vp-767 {
      padding: 0;
      text-align: start;
    }
  }
}

.gym__text {
  margin-top: 38px;

  @include vp-1199 {
    margin-top: 35px;

    p:not(:first-child) {
      display: none;
    }
  }

  @include vp-767 {
    margin-top: 25px;
    padding-right: 30px;
  }

  p {
    font-size: 16px;
    font-weight: 300;

    &:first-child {
      margin-bottom: 10px;

      @include vp-1199 {
        margin-bottom: 42px;
      }

      @include vp-767 {
        margin-bottom: 33px;
      }
    }
  }
}

.gym__content-picture {
  margin: 0;
  background-color: $color-ghost-white;
  height: auto;

  img {
    width: 100%;
    object-fit: fill;

    @include vp-1199 {
      height: 345px;
    }

    @include vp-767 {
      height: 313px;
    }
  }
}
