.info-group {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include vp-1199 {
    grid-template-columns: 1fr;
  }
}

.info-group__contacts {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-slate-grey;
  }
}
