.main__wrapper {
  display: grid;
  padding: 0 122px 50px;
  grid-template-columns: 377px 1fr;
  justify-content: center;
  column-gap: 64px;

  @include vp-1199 {
    column-gap: 30px;
    padding-bottom: 50px;
    grid-template-columns: 324px 324px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }

  img {
    margin-top: -29px;

    @include vp-1199 {
      margin-top: -9px;
    }

    @include vp-767 {
      display: none;
    }
  }
}

.main__about {
  display: grid;
  justify-items: end;
  grid-template-rows: repeat(3, min-content);
  color: $color-default-white;
  font-family: $ff-alumni;
  margin-top: 80px;

  @include vp-1199 {
    margin-top: 40px;
  }

  p {
    margin: 0;
    margin-right: 55px;
    margin-bottom: 17px;
    font-size: 48px;
    line-height: 57px;
    font-weight: 600;

    @include vp-1199 {
      font-size: 34px;
      line-height: 41px;
      margin-right: 7px;
      margin-bottom: 10px;
    }

    @include vp-767 {
      font-size: 28px;
      line-height: 33px;
      margin-right: 5px;
      margin-bottom: 15px;
    }
  }
}

.main__about-button {
  padding: 21px 22px 18px;
  letter-spacing: 0.05em;
  cursor: pointer;
  user-select: none;
  word-break: break-word;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  font-family: $ff-roboto;
  width: 233px;
  background-color: transparent;
  border: 4px solid $color-default-white;
  color: $color-default-white;
  margin-bottom: 10px;

  @include vp-1199 {
    width: 185px;
  }

  @include vp-767 {
    width: 100%;
  }
}

.main__about-inner {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0 16px;

  @include vp-1199 {
    gap: 0 24px;
  }

  @include vp-767 {
    position: relative;
  }

  h1 {
    flex-grow: 1;
    margin: 0;
    margin-bottom: 48px;
    margin-right: 1px;
    letter-spacing: 0.05em;
    text-align: right;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 92px;
    line-height: 110px;
    -webkit-text-stroke-width: 3px;

    @include vp-1199 {
      margin-bottom: 34px;
      font-size: 72px;
      line-height: 86px;
      text-transform: initial;
    }

    @include vp-767 {
      margin-bottom: 22px;
      width: 200px;
      margin-left: auto;
    }
  }

  ul {
    flex-shrink: 0;
    margin: 0;
    margin-top: 38px;
    padding: 0;
    list-style: none;

    @include vp-1199 {
      margin-top: 32px;
    }

    @include vp-767 {
      position: absolute;
      left: 0;
      top: 44px;
    }
  }

  li {
    font-weight: 400;
    font-family: $ff-roboto;
    font-size: 14px;
    text-align: end;
    overflow-wrap: break-word;
  }
}

.main__about-picture {
  margin: 0;
}
