.no-js {
  .tabs__buttons {
    display: none;
  }

  .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
    justify-content: space-between;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .video__button {
    pointer-events: none;
  }
}
