.tabs__buttons {
  margin-bottom: 8px;
  width: 100%;
  max-width: 341px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 10px 0;
  column-gap: 46px;
  justify-content: space-between;
  border-bottom: 2px solid $color-border-grey;

  @include vp-1199 {
    max-width: 333px;
    column-gap: 55px;
    margin-bottom: 14px;
  }

  @include vp-767 {
    column-gap: 45px;
    padding-bottom: 12px;
  }

  button {
    position: relative;
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    user-select: none;
    outline-color: $color-sapphire;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: $color-sapphire;
    opacity: 0.5;

    @include vp-1199 {
      font-size: 18px;
      line-height: 27px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 24px;
    }

    @include hover-focus {
      opacity: 1;
    }
  }

  button.is-active {
    opacity: 1;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $color-crimson;
      left: 0;
      bottom: -12px;
      z-index: 5px;

      @include vp-767 {
        bottom: -14px;
      }
    }
  }
}
