// Colors
// ---------------------------------

$color-sapphire: #102654;
$color-resolution-blue: #1c3374;
$color-ghost-white: #f8f9fc;
$color-chambrey: #495a7d;
$color-spindle: #b6bdcc;
$color-dark-grey: #afafaf;
$color-egyptian-blue: #103aae;
$color-crimson: #d10a42;
$color-grey: #e8e8e8;
$color-red: #ed0233;
$color-cobalt: #0041ca;
$color-slate-grey: #74819c;
$color-black-russian: #030a1a;

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

$box-shadow: 0 0 40px rgba(28, 51, 116, 0.2);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

// Gradient

$black-to-right: linear-gradient(
  90deg,
  rgba(0, 0, 0, 0.75) 0%,
  rgba(0, 0, 0, 0) 75%
);

$general-gradient: conic-gradient(
  from 130.31deg at 16.03% 39.06%,
  #b80027 -46.69deg,
  #003d85 32.24deg,
  #b80027 313.31deg,
  #003d85 392.24deg
);

$general-gradient-tablet: conic-gradient(
  from 139.4deg at 20.7% 35.74%,
  #b80027 -46.69deg,
  #003d85 32.24deg,
  #b80027 313.31deg,
  #003d85 392.24deg
);

$general-gradient-mobile: conic-gradient(
  from 171.43deg at 35.31% 34.22%,
  #b80027 -46.69deg,
  #003d85 32.24deg,
  #b80027 313.31deg,
  #003d85 392.24deg
);

$border-gradient: linear-gradient(142.51deg, #d10a42 0, #0041ca 87.33%);
$button-gradient: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);

$color-border-grey: rgba(120, 120, 120, 0.2);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default: 16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble: "Rouble", "Arial", sans-serif;

$ff-placeholder: "Placeholder", "Arial", sans-serif;
$ff-roboto: "Roboto Condensed", "Arial", sans-serif;
$ff-alumni: "Alumni Sans", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default: ease;
$trans-default: 0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600: 0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320: 320px;
$vp-375: 375px;
$vp-520: 520px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1200: 1200px;
$vp-1280: 1280px;
$vp-1440: 1440px;
$vp-1920: 1920px;

// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
